pr_agent
langchain
transformers
huggingface_hub
unstructured[local-inference]
sentence-transformers
faiss-cpu
langchainhub
langchain-openai
embedchain
streamlit
python-dotenv
sentence-transformers
einops